
:root{
    --light: #eeebdd;
    --main-color: #ce1212;
    --secondary-color: #810000;
    --dark: #1b1717; 

    --wrapping :100px;
}

@font-face {
    font-family: "Quicksand";
    src: url("./Quicksand.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

.wrapping{
    width: 90vw;
    margin: 0 auto;
}

.hello{
    background-color: var(--dark);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 10%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

footer{
    margin-top: 50px;
    height: 40vh;
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.hello-content{
    text-align: center;
    min-width: 300px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.stack-box{
    margin: 30px 0px;
    position: relative;
    height: 150px;
    min-width: 150px;
    width: 50vw;
    max-width: 400px;
    
}

.stack-top, .stack-bottom{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack-top{
    background-color: black;
    top: 0px;
    left: 0px;
}

.stack-bottom{
    border: 2px solid var(--main-color);
    top: 10px;
    left: -10px;
    z-index: -1;
}

.stack-title{
    color: white;
}

.project-cards{
   display: grid;
   align-items: center;
   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   gap: 10px;
   margin: 30px 0px;
}

.project-card{
    position: relative;
    width: 100%;
    height: 250px;
    margin: 1px;
    overflow: hidden;
}

.project-overlay, .project-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.project-overlay{
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    left: -100%;
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.project-card:hover > .project-overlay{
    width: 100%;
    background-color: rgb(255, 255, 255);
    left: 0;
    transition: all 0.3s ease-in-out;
}

.project-title{
    font-weight: bold;
}

.project-description{
    text-align: center;
    font-size: 14px;
}

.tech-logo{
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0px 5px;
}

.project-open{
   border: 1px solid black;
}

/* Buttons */
.fill-button{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    margin: 20px 0px;
    z-index: 0;

}

.fill-button::before{
    content: '';
    background-color: var(--main-color);
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.2s ease-in-out;
    z-index: -1;
}

.fill-button:hover::before{
    width: 100%;
}

.fill-button:hover{
    color: white;
}

.discover-my-work{
    border: 1px solid white;
}

/* Typography */

body{
    font-family: "Quicksand";
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

.hello *{
    color: white;
}

.hello-welcome{
    font-weight: bolder;
    margin: 30px;
}

.hello-description{
    column-width: 30ch;
}

.navbar-link{
    font-weight: bold;
    border: 1px solid black;
    width: 200px;
    text-align: center;
}

.my-qualities{
    column-width: 30ch;
}

.main-color{
    color: var(--main-color);
}

.secondary-color{
    color: var(--secondary-color);
}